.menu__button {
    display: none;
}
.menu__mobile {
    position: static;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: inherit;
    background-color: transparent;
    &.menu__mobile--state-active {
        left: auto;
    }
    .menu__list {
        padding: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .menu__item {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        padding: 0;
        text-transform: uppercase;
    }
    .menu__item + .menu__item {
        margin: 0 0 0 30px;
    }
    .menu__link {
        color: inherit;
    }
    .menu__item--state-active .menu__link,
    .menu__link:hover {
        color: $color--text-accent;
    }
    .menu__close {
        display: none;
    }
}