.header {
    z-index: 10;
    text-align: right;
    padding: 10px 0;
    &.header--position-over {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
    &.header--position-above {
        position: relative;
    }
}
.logo {
    width: 80px;
    height: 49px;
    position: relative;
    display: block;
    text-decoration: none;
}
.logo__img {
    display: block;
    max-width: 100%;
}
.bg--color-transparent,
.bg--color-dark,
.bg--pic {
    .menu__button {
        @include sprite-sprite(icon-menu-light);
    }
    .logo {
        background: url('../images/logo-light.png') left top no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}
.bg--color-light,
.bg--color-main {
    .menu__button {
        @include sprite-sprite(icon-menu-dark);
    }
    .logo {
        background: url('../images/logo.png') left top no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}



.menu--type-main {
    margin: 15px 0 0;
    text-align: right;
}
.menu__button {
    cursor: pointer;
    width: 24px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
}
.menu__mobile {
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $color--bg-dark;
    z-index: 20;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    &.menu__mobile--state-active {
        left: 0;
    }
    .menu__list {
        list-style: none;
        margin: 0;
        padding: 40px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        position: relative;
    }
    .menu__item {
        text-align: center;
        font-size: 22px;
        line-height: 1.2353em;
        padding: 9px 0;
    }
    .menu__link {
        color: $color--text-light;
    }
    .menu__item--state-active .menu__link,
    .menu__link:hover {
        color: $color--text-accent;
    }
    .menu__close {
        position: absolute;
        cursor: pointer;
        width: 18px;
        height: 18px;
        right: 20px;
        top: 20px;
        @include sprite-sprite(icon-close-light);
    }
}


.fp-viewing-slide1 {
    .header {
        background-color: transparent;
        color: $color--text-alter;
        -webkit-transition: background-color 0.3s, color 0.3s;
        -moz-transition: background-color 0.3s, color 0.3s;
        -ms-transition: background-color 0.3s, color 0.3s;
        -o-transition: background-color 0.3s, color 0.3s;
        transition: background-color 0.3s, color 0.3s;
    }
    .menu__button {
        @include sprite-sprite(icon-menu-light);
    }
    .logo {
        background: url('../images/logo-light.png') left top no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}
.fp-viewing-slide2 {
    .header {
        background-color: $color--bg-light;
        color: $color--text-main;
        -webkit-transition: background-color 0.3s, color 0.3s;
        -moz-transition: background-color 0.3s, color 0.3s;
        -ms-transition: background-color 0.3s, color 0.3s;
        -o-transition: background-color 0.3s, color 0.3s;
        transition: background-color 0.3s, color 0.3s;
    }
    .menu__button {
        @include sprite-sprite(icon-menu-dark);
    }
    .logo {
        background: url('../images/logo.png') left top no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}
.fp-viewing-slide3,
.fp-viewing-slide4,
.fp-viewing-slide5,
.fp-viewing-slide6,
.fp-viewing-slide7 {
    .header {
        background-color: $color--bg-main;
        color: $color--text-main;
        -webkit-transition: background-color 0.3s, color 0.3s;
        -moz-transition: background-color 0.3s, color 0.3s;
        -ms-transition: background-color 0.3s, color 0.3s;
        -o-transition: background-color 0.3s, color 0.3s;
        transition: background-color 0.3s, color 0.3s;
    }
    .menu__button {
        @include sprite-sprite(icon-menu-dark);
    }
    .logo {
        background: url('../images/logo.png') left top no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

.header-placeholder {
    background-color: transparent;
    height: 69px;
}