.bg--pic {
    position: relative;
    color: $color--text-alter;
}
.bg__pic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.05;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=5)';
}
.bg__video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}
.bg__lines {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 52.3%;
    top: 0;
    max-width: 1170px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 71%;
        height: 100%;
        border-left: solid 1px rgba($color--bg-main, 0.05);
        border-right: solid 1px rgba($color--bg-main, 0.05);
        z-index: 2;
        left: 14.5%;
        top: 0;
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        height: 100%;
        background-color: rgba($color--bg-main, 0.05);
        left: 50%;
        top: 0;
    }
}
.bg--color-main {
    background-color: $color--bg-main;
    color: $color--text-main;
}
.bg--color-light {
    background-color: $color--bg-light;
    color: $color--text-main;
}
.bg--color-dark {
    background-color: $color--bg-dark;
    color: $color--text-alter;
}
.bg--color-transparent {
    color: $color--text-alter;
}

.video-bg {
    position: absolute;
    display: block;
    min-width: 104%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.2;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
}

//.bg--pic-1 {
//    background: url('../images/bg/bg-pic-1.jpg') top center no-repeat;
//    -webkit-background-size: cover;
//    background-size: cover;
//    color: $color--text-light;
//}
//.bg--pic-2 {
//    background: url('../images/bg/bg-pic-2.jpg') top center no-repeat;
//    -webkit-background-size: cover;
//    background-size: cover;
//    color: $color--text-light;
//}
//.bg--pic-3 {
//    background: url('../images/bg/bg-pic-3.jpg') top center no-repeat;
//    -webkit-background-size: cover;
//    background-size: cover;
//    color: $color--text-light;
//}