.layout-row {
    padding: 0 30px;
    &.layout-row--no-padding,
    &.layout-row--full-width {
        padding: 0;
    }
    .layout-row {
        padding: 0;
    }
}
.layout-column {
    font-size: 18px;
}

//.header--position-over + .section {
//    padding-top: 105px;
//}
.screen:not(.fp-auto-height) .section {
    padding-top: 105px;
}