html,
body {
	height: 100%;
}
.container {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: $color--bg-dark;
}

.section {
	position: relative;
}

.layout-row {
	margin: 0 -10px;
	padding: 0 10px;
	font-size: 0;
	line-height: 1;
	text-align: left;
	position: relative;
	z-index: 2;
	&.layout-row--no-padding,
	&.layout-row--full-width {
		padding: 0;
	}
	.layout-row {
		padding: 0;
	}
}
.layout-column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 16px;
	line-height: 1.6667em;
	&.layout-column--centered {
		display: block;
		margin: 0 auto;
	}
}
.layout-column--1-2 {
	width: 50%;
}
.layout-column--1-3 {
	width: 33.3333%;
}
.layout-column--2-3 {
	width: 66.6666%;
}

//.header--position-over + .section {
//	padding-top: 70px;
//}
.screen:not(.fp-auto-height) .section {
	padding-top: 40px;
}

.fp-responsive {
	.screen,
	.fp-tableCell {
		height: auto !important;
	}
	.screen:not(.fp-auto-height) .section {
		padding-top: 90px;
		padding-bottom: 50px;
	}
}