.layout-row {
    padding: 0 30px;
    max-width: 1200px;
    margin: 0 auto;
    &.layout-row--no-padding {
        padding: 0;
        max-width: 1230px;
    }
    &.layout-row--full-width {
        padding: 0;
        margin: 0;
        max-width: none;
    }
    .layout-row {
        padding: 0;
        margin: 0 -15px;
    }
}