/************************   BUTTONS start  *************************/
.button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	-webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
	-moz-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
	-ms-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
	-o-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
	transition: color 0.3s, border-color 0.3s, background-color 0.3s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 1px transparent;
	padding: 0 22px;
	font-size: 16px;
	line-height: 38px;
	height: 40px;
	&:hover {
		text-decoration: none;
	}

	&.button--type-fill {
		color: $color--text-alter;
		border-color: $color--bg-accent;
		background-color: $color--bg-accent;
	}
	&.button--type-fill:hover {
		border-color: $color--bg-hover;
		background-color: $color--bg-hover;
	}

	&.button--type-stroke {
		color: $color--text-alter;
		border-color: $color--bg-main;
		background-color: transparent;
	}
	&.button--type-stroke:hover {
		border-color: $color--bg-main;
		background-color: $color--bg-main;
		color: $color--bg-dark;
	}
}
.block__buttons {
	margin: 30px -10px 0;
	font-size: 0;
	line-height: 1;
	.button {
		margin: 20px 10px 0;
	}
}
/************************   BUTTONS end  *************************/