/************************   BUTTONS start  *************************/
.button {
    font-size: 18px;
    line-height: 58px;
    height: 60px;
}
/************************   BUTTONS end  *************************/