/************************   BUTTONS start  *************************/
.button {
    padding: 0 44px;
    line-height: 48px;
    height: 50px;
}
.block__buttons {
    margin: 40px -35px 0;
    .button {
        margin: 0 35px;
    }
}
/************************   BUTTONS end  *************************/