.form {
    padding: 20px 40px 40px;
}

.input--type-file {
    .file {
        padding: 0 110px 8px 0;
    }
    .file:before {
        right: 69px;
    }
    .file:after {
        content: 'Upload';
        position: absolute;
        width: 58px;
        font-size: 18px;
        color: $color--text-accent;
        right: 0;
        top: 0;
    }
}