.input--type-text,
.input--type-textarea,
.file {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	margin: 0;
	padding: 0 0 8px;
	outline: none;
	position: relative;
	z-index: 2;
	text-align: left;
	height: 35px;
	border: none;
	border-bottom: solid 1px $color--bd-main;
	color: $color--text-main;
	background-color: transparent;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	transition: border-color 0.3s;
	&:focus {
		border-color: $color--bg-accent;
	}
}
.input--type-textarea {
	height: 54px;
	overflow: auto;
	resize: none;
}
.input--type-button {
	margin: 32px 10px 0;
}
.input--type-file {
	height: 35px;
	position: relative;
	cursor: pointer;
	display: block;
	overflow: hidden;
	.input__file {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: -100%;
		z-index: 3;
		opacity: 0;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
		cursor: pointer;
	}
	.file {
		padding: 0 45px 8px 0;
		cursor: pointer;
		color: $color--text-main;
	}
	.file:before {
		content: '';
		position: absolute;
		display: block;
		width: 25px;
		height: 20px;
		right: 0;
		top: 3px;
		@include sprite-sprite(icon-upload);
	}
}

.block-form {
	padding: 67px 0;
}
.block-form__title {
	text-align: center;
}
.form {
	background-color: $color--bg-light;
	padding: 20px 10px;
	text-align: center;
}
.form__field {
	position: relative;
	margin: 12px 0 0;
	padding: 20px 0 0;
	display: block;
}
.form__label {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 0;
	top: 20px;
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	color: $color--text-dark;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.form__field--state-active {
	.form__label {
		color: $color--text-accent;
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		top: 0;
	}
}
.form__buttons {
	text-align: center;
	margin: 0 -10px;
}

.set-input {
	margin: 32px -38px 0 0;
	font-size: 0;
	line-height: 1;
}
.set-input__title {
	color: $color--text-main;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	margin: 0 38px 0 0;
}
.input--type-radio {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 10px 38px 0 0;
	padding: 0 0 0 22px;
	min-height: 16px;
	overflow: hidden;
	.radio {
		position: absolute;
		display: block;
		width: 14px;
		height: 14px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border: solid 1px $color--bd-accent;
		left: 0;
		top: 0;
		cursor: pointer;
	}
	&.checked .radio:before {
		content: '';
		position: absolute;
		display: block;
		width: 8px;
		height: 8px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background-color: $color--bg-accent;
		left: 50%;
		top: 50%;
		margin: -4px 0 0 -4px;
	}
	.input__radio {
		width: 16px;
		height: 16px;
		position: absolute;
		left: 0;
		top: 0;
	}
    .wpcf7-form-control-wrap {
        position: static;
    }
}
.input--type-checkbox {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 10px 38px 0 0;
	padding: 0 0 0 22px;
	min-height: 16px;
	overflow: hidden;
	.checkbox {
		position: absolute;
		display: block;
		width: 14px;
		height: 14px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: solid 1px $color--bd-accent;
		left: 0;
		top: 0;
		cursor: pointer;
	}
	&.checked .checkbox:before {
		content: '';
		position: absolute;
		display: block;
		width: 10px;
		height: 10px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background-color: $color--bg-accent;
		left: 50%;
		top: 50%;
		margin: -5px 0 0 -5px;
	}
	.input__checkbox {
		width: 16px;
		height: 16px;
		position: absolute;
		left: 0;
		top: 0;
	}
    .wpcf7-form-control-wrap {
        position: static;
    }
}
.input__label {
	font-size: 16px;
	line-height: 18px;
	color: $color--text-main;
	&.input__label--size-small {
		font-size: 14px;
	}
}