.footer {
    padding: 18px 0 22px;
    text-align: center;
    &.bg--color-transparent,
    &.bg--color-dark,
    &.bg--pic {
        color: $color--text-light;
        a {
            color: $color--text-light;
            border-bottom: solid 1px $color--bd-light;
        }
    }
    &.bg--color-light,
    &.bg--color-main {
        color: $color--text-alter-dark;
        a {
            color: $color--text-alter-dark;
            border-bottom: solid 1px $color--bd-alter;
        }
    }
    a {
        -webkit-transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        -ms-transition: border-color 0.3s;
        -o-transition: border-color 0.3s;
        transition: border-color 0.3s;
        text-decoration: none;
        line-height: 1em;
    }
    a:hover {
        text-decoration: none;
        border-bottom-color: transparent;
    }

    &.footer--position-over {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    &.footer--position-under {
        position: relative;
    }
    &.footer--separated:before {
        content: '';
        position: absolute;
        display: block;
        width: 1170px;
        height: 1px;
        background-color: $color--bd-light;
        top: 0;
        left: 50%;
        margin: 0 0 0 -585px;
    }
}

.menu--type-footer {
    text-align: center;
    .menu__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu__item {
        display: inline;
        font-size: 16px;
    }
    .menu__item + .menu__item {
        margin: 0 0 0 20px;
    }
    .menu__link {
        white-space: nowrap;
    }
}

.footer__copyright {
    font-size: 16px;
    text-align: center;
}