body, h4, h5, li {
	font: normal 400 16px/1.6667em $font--family-main;
}
body, input, textarea {
	color: $color--text-main;
}
h1, h2, h3, h4, h5, li {
	color: inherit;
}
a {
	outline: none;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
	color: $color--text-accent;
	&:hover {
		color: $color--text-hover;
		text-decoration: none;
	}
}

	
	

	
h1 {
	//margin: 0.75em 0 1.2917em;
	margin: 0;
	font-weight: 700;
	display: block;
	font-size: 28px;
	line-height: 1.1875em;
	text-align: center;
}
h2 {
	margin: 0 0 0.75em;
	font-weight: 700;
	display: block;
	font-size: 24px;
	line-height: 1.2em;
	text-align: left;
	letter-spacing: -0.2px;
}
h3 {
	font-weight: 700;
	display: block;
	text-align: left;
	font-size: 18px;
	line-height: 1.2083em;
	margin: 0 0 0.25em;
}
h4 {
	font-weight: 700;
	display: block;
	text-align: left;
	font-size: 16px;
	line-height: 1.2em;
	margin: 0 0 0.3em;
}
//h4 {
//	margin: 20px 0 0;
//	font-weight: 500;
//	display: block;
//	font-size: 14px;
//	line-height: 20px;
//}
//h5 {
//	margin: 20px 0 0;
//	font-weight: 600;
//	display: block;
//	font-size: 13px;
//	line-height: 20px;
//}


.font--color-accent {
	color: $color--text-accent;
}
.font--color-hover {
	color: $color--text-hover;
}



// ANIMATION

.animate {
	-webkit-transition: all 0.3s 0.5s;
	-moz-transition: all 0.3s 0.5s;
	-ms-transition: all 0.3s 0.5s;
	-o-transition: all 0.3s 0.5s;
	transition: all 0.3s 0.5s;
}
.animate-from-top {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	opacity: 0;
}
.animate-from-bottom {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
}

.screen.active {
	.animate-from-top,
	.animate-from-bottom {
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-o-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1;
	}
}