body, h4, h5, li {
    font-size: 18px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 30px;
    &.block__title {
        font-size: 36px;
        letter-spacing: -0.8px;
    }
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}