/********************************* SPRITE start *********************************/
$sprite-layout: smart;
@import "sprite/*.png";
/*.block-socials__item--dj{
	@include sprite-sprite(icon-social-dj);
}*/
/*********************************  SPRITE end  *********************************/

/********************************* COLORS start *********************************/
$color--text-main:         #191f24;
$color--text-light:        #ffffff;
$color--text-dark:         #909090;
$color--text-accent:       #3aae2a;
$color--text-hover:        #062f87;
$color--text-alter:        #f5f5f6;
$color--text-alter-dark:   #000000;

$color--bg-main:           #ffffff;
$color--bg-light:          #f4f4f4;
$color--bg-dark:           #2f3b41;
$color--bg-accent:         #3aae2a;
$color--bg-hover:          #37c224;
$color--bg-alter:          #062f87;
$color--bg-alter-dark:     #324350;

$color--bd-main:           #c2c2c2;
$color--bd-light:          #f3f3f3;
$color--bd-dark:           #191f24;
$color--bd-accent:         #3aae2a;
$color--bd-hover:          #062f87;
$color--bd-alter:          #e1e1e1;

/*********************************  COLORS end  *********************************/

/*********************************  FONTS start *********************************/
$font--family-main: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*********************************   FONTS end  *********************************/