/************************   HEADING start  *************************/
.block-heading {
    margin: 39px 0 0;
}
/************************   HEADING end  *************************/

/************************   PROMO start  *************************/
.block-promo {
    margin: 0;
}
.block-promo__buttons {
    margin: 40px -35px 0;
}
/************************   PROMO end  *************************/

/************************   GALLERY start  *************************/
.block-gallery {
    margin: 0 auto;
    width: 1230px;
    .slider__pages {
        right: 215px;
    }
    .slider__button--type-square {
        &.slider__button--prev,
        &.slider__button--next {
            right: 215px;
        }
    }
}
.block-gallery__content {
    padding: 80px 40px 80px 0;
    min-height: 490px;
    width: 470px;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 115px;
        height: 100%;
        right: 100%;
        top: 0;
        background-color: $color--bg-main;
    }
}
.block-gallery__slider {
    width: 885px;
    max-width: none;
    margin: 0 -55px 0 -70px;
    .slider__inner {
        padding-right: 215px;
    }
}

.slick-dots {
    left: 0;
    right: 0;
}
/************************   GALLERY end  *************************/

/************************   SERVICES start  *************************/
.block-services {
    margin: 0 auto;
}
.block-services-list,
.block-services-description {
    font-size: 18px;
}
.block-services-description {
    padding: 65px;
}
/************************   SERVICES end  *************************/

/************************   COUNTER start  *************************/
.block-counter {
    margin: 0 -15px;
}
.block-counter__item {
    margin: 65px 0 0;
    padding: 0 15px;
}
/************************   COUNTER end  *************************/

/************************   CALL TO ACTION start  *************************/
.block-call-to-action {
    padding: 74px 0;
}
/************************   CALL TO ACTION end  *************************/

/************************   MISSION start  *************************/
.block-mission {
    margin: 0 auto;
    width: 1230px;
    .slider__pages {
        left: 15px;
        bottom: 77px;
    }
    .slider__button--type-square {
        bottom: 77px;
        &.slider__button--prev {
            right: 186px;
        }
        &.slider__button--next {
            right: 116px;
        }
    }
}
.block-mission__content {
    padding: 80px 85px 45px 0;
    min-height: 502px;
    width: 585px;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 115px;
        height: 100%;
        right: 100%;
        top: 0;
        background-color: $color--bg-main;
    }
}
.block-mission__slider {
    width: 785px;
    max-width: none;
    margin: 0 -55px 0 -85px;
}
/************************   MISSION end  *************************/

/************************   TEXT start  *************************/
.block-text__buttons {
    margin-top: 30px;
}
/************************   TEXT end  *************************/

/************************   TEAM start  *************************/
.team-item {
    right: 50%;
    margin-right: -585px;
    width: 615px;
    padding: 60px 43px 60px 72px;
}
.block-team__title {
    line-height: 70px;
}
.block-team__pages {
    line-height: 70px;
}
.block-team__button {
    width: 70px;
    height: 70px;
}

.team-dots {
    right: auto;
    left: 50%;
    margin: 0 0 0 -593px;
    width: 1186px;
}
/************************   TEAM end  *************************/

/************************   MAP start  *************************/
.block-map {
    height: 670px;
}
.block-map__content {
    width: 400px;
    padding: 58px 36px 50px 58px;
    left: 50%;
    margin: 0 0 0 -585px;
}
/************************   MAP end  *************************/