.block__description {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}
.block__text {
    p {
        margin: 0.7222em 0 0;
    }
}

/************************   HEADING start  *************************/
.block-heading {
    text-align: center;
    margin: 10px 0 0;
}
.block-heading__content {
    display: table-cell;
    width: 1230px;
    height: 100px;
    vertical-align: middle;
}
.block-heading__title {
    margin: 0;
}
.block-heading__back {
    margin: 22px 0 0;
}
.block-heading__back a {
    display: inline-block;
    padding: 0 0 0 26px;
    position: relative;
    color: $color--text-light;
    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 17px;
        height: 13px;
        left: 0;
        top: 50%;
        margin: -6px 0 0;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    &:before {
        @include sprite-sprite(icon-back);
    }
    &:after {
        @include sprite-sprite(icon-back-active);
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    &:hover {
        color: $color--text-accent;
    }
    &:hover:before {
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    &:hover:after {
        opacity: 1;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
/************************   HEADING end  *************************/

/************************   PROMO start  *************************/
.block-promo {
    margin: 0 10px;
}

@-webkit-keyframes arrowAnimation {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(20px);
        opacity: 0;
    }
}
@keyframes arrowAnimation {
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}
.next-slide {
    position: absolute;
    bottom: 37px;
    left: 50%;
    display: block;
    width: 25px;
    height: 14px;
    cursor: pointer;
    margin: 0 0 0 -13px;
}
.next-slide__arrow {
    display: block;
    position: absolute;
    top: 0;
    width: 25px;
    height: 14px;
    @include sprite-sprite(icon-arrow-bottom-medium-white);

    //-webkit-animation: arrowAnimation 1.5s infinite;
    //animation: arrowAnimation 1.5s infinite;

    -webkit-animation-name: arrowAnimation;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: arrowAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    -webkit-transform: translate3D(0, 0, 0);
    -moz-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    -o-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}
/************************   PROMO end  *************************/

/************************   SLIDER start  *************************/
.slider {
    position: relative;
}
.slider__pages {
    display: inline-block;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    min-width: 124px;
    padding: 0 8px;
    text-align: center;
    background-color: $color--bg-main;
    z-index: 15;
}
.slider__button {
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    position: absolute;
    z-index: 15;
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    &:after {
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    &:hover:before {
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    &:hover:after {
        opacity: 1;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
.slider__button--type-square {
    width: 40px;
    height: 40px;
    background-color: $color--bg-main;
    top: 50%;
    margin: -20px 0 0;
    &:hover {
        background-color: $color--bg-accent;
    }
    &:before,
    &:after {
        width: 7px;
        height: 13px;
        left: 50%;
        top: 50%;
    }
    &.slider__button--prev {
        left: 0;
        &:before {
            @include sprite-sprite(icon-arrow-left-small-green);
            margin: -7px 0 0 -4px;
        }
        &:after {
            @include sprite-sprite(icon-arrow-left-small-white);
            margin: -7px 0 0 -4px;
        }
    }
    &.slider__button--next {
        right: 0;
        &:before {
            @include sprite-sprite(icon-arrow-right-small-green);
            margin: -7px 0 0 -3px;
        }
        &:after {
            @include sprite-sprite(icon-arrow-right-small-white);
            margin: -7px 0 0 -3px;
        }
    }
}
.slider__button--type-simple {
    width: 20px;
    height: 37px;
    top: 50%;
    margin: -19px 0 0;
    &:before,
    &:after {
        width: 20px;
        height: 37px;
        left: 0;
        top: 0;
    }
    &.slider__button--prev {
        left: -33px;
        &:before {
            @include sprite-sprite(icon-arrow-left-large);
        }
        &:after {
            @include sprite-sprite(icon-arrow-left-large-active);
        }
    }
    &.slider__button--next {
        right: -33px;
        &:before {
            @include sprite-sprite(icon-arrow-right-large);
        }
        &:after {
            @include sprite-sprite(icon-arrow-right-large-active);
        }
    }
}
.slider__item,
.slick-slide {
    outline: none;
}
.slider__img {
    display: block;
    max-width: 100%;
}

.slick-dots {
    list-style: none;
    margin: 10px -8px 0;
    padding: 0;
    font-size: 0;
    text-align: center;
    position: relative;
    display: block;
    li {
        display: inline-block;
        vertical-align: top;
        margin: 8px 8px 0;
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #d5d5d5;
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s;
        cursor: pointer;
    }
    li:hover,
    li.slick-active {
        background-color: $color--bg-accent;
    }
}
.team-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
    position: absolute;
    display: block;
    bottom: 18px;
    right: 0;
    left: 0;
    li {
        display: inline-block;
        vertical-align: top;
        margin: 8px 8px 0;
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #d5d5d5;
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s;
        cursor: pointer;
    }
    li:hover,
    li.slick-active {
        background-color: $color--bg-accent;
    }
}
/************************   SLIDER end  *************************/

/************************   GALLERY start  *************************/
.block-gallery * {
    -webkit-transform: translate3d(0, 0, 0 );
    -moz-transform: translate3d(0, 0, 0) ;
}
.block-gallery {
    text-align: center;
    .slider__pages {
        position: absolute;
        bottom: 21px;
        left: 50%;
        min-width: 124px;
        text-align: center;
        -webkit-transform: translate3d(-50%, 0, 0) !important;
        -moz-transform: translate3d(-50%, 0, 0) !important;
        -ms-transform: translate3d(-50%, 0, 0) !important;
        -o-transform: translate3d(-50%, 0, 0) !important;
        transform: translate3d(-50%, 0, 0) !important;
        -webkit-backface-visibility: hidden !important;
        -moz-backface-visibility: hidden !important;
    }
    .block-pages__counter {
        color: $color--text-accent;
    }
}

//.block-gallery .slider__pages{
//    -webkit-transform: translate3d(70px, 0, 0 ) !important;
//    -moz-transform: translate3d(70px, 0, 0) !important;
//}
.block-gallery__slider {
    margin: 0;
    max-width: 670px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
}
.block-gallery__content {
    margin: -20px 10px 20px;
    padding: 20px;
    background-color: $color--bg-main;
    position: relative;
    z-index: 5;
    text-align: left;
}
/************************   GALLERY end  *************************/

/************************   SERVICES start  *************************/
.block-services {
    margin: 0 10px;
}
.block-services-list {
    background-color: $color--bg-accent;
    color: $color--text-light;
    padding: 20px 20px 40px;
    text-align: center;
}
.block-services-description {
    margin: -20px 10px 0;
    background: $color--bg-alter url('../images/bg/bg-service-description.png') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: $color--text-light;
    padding: 20px;
}
.block-services-list__title {
    text-align: center;
}
.block-services-list__description {
    line-height: 1.5em;
}
.block-service-item {
    position: relative;
    display: block !important;
    margin: 5px auto;
    padding: 8px 10px 14px;
    width: 125px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
    &.block-service-item--state-active,
    &:hover {
        background-color: $color--bg-hover;
    }
}
.block-service-item__icon {
    position: relative;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    display: block;
    //&:before {
    //    content: '';
    //    position: absolute;
    //    display: block;
    //    left: 50%;
    //    top: 50%;
    //    -webkit-transform: translate(-50%, -50%);
    //    -moz-transform: translate(-50%, -50%);
    //    -ms-transform: translate(-50%, -50%);
    //    -o-transform: translate(-50%, -50%);
    //    transform: translate(-50%, -50%);
    //}
    //&.block-service-item__icon--pay:before {
    //    @include sprite-sprite(icon-service-pay);
    //    width: 70px;
    //    height: 51px;
    //}
    //&.block-service-item__icon--pos:before {
    //    @include sprite-sprite(icon-service-pos);
    //    width: 39px;
    //    height: 48px;
    //}
    //&.block-service-item__icon--credit:before {
    //    @include sprite-sprite(icon-service-credit);
    //    width: 55px;
    //    height: 55px;
    //}
    //&.block-service-item__icon--install:before {
    //    @include sprite-sprite(icon-service-install);
    //    width: 61px;
    //    height: 57px;
    //}
    //&.block-service-item__icon--mortgage:before {
    //    @include sprite-sprite(icon-service-mortgage);
    //    width: 51px;
    //    height: 51px;
    //}
    //&.block-service-item__icon--ptp:before {
    //    @include sprite-sprite(icon-service-ptp);
    //    width: 73px;
    //    height: 38px;
    //}
}
.block-service-item__title {
    margin: 3px 0 0;
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
    font-weight: 400;
    display: block;
}
.block-services-list__slider {
    margin: 24px 35px 0;
}

.block-services-description__title {
    margin: 0 0 0.75em;
    font-weight: 700;
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    position: relative;
    padding: 0 0 0.5em;
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 70px;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: $color--text-light;
    }
}
/************************   SERVICES end  *************************/

/************************   BENEFITS start  *************************/
.block-benefits {
    text-align: center;
    margin: 0 10px;
    padding: 48px 0;
}
.block-benefits__title {
    padding: 0 0 0.5em;
    position: relative;
    text-align: center;
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 70px;
        height: 2px;
        left: 50%;
        bottom: 0;
        background-color: $color--text-accent;
        margin: 0 0 0 -35px;
    }
}
/************************   BENEFITS end  *************************/

/************************   COUNTER start  *************************/
.block-counter {
    font-size: 0;
    line-height: 1;
    margin: 0 -10px;
    cursor: default;
}
.block-counter__item {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
}
.block-counter__value {
    font-size: 47px;
    line-height: 1em;
    font-weight: 700;
    color: $color--text-accent;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;

}
.block-counter__title {
    margin: 5px 0 0;
}
/************************   COUNTER end  *************************/

/************************   CALL TO ACTION start  *************************/
.block-call-to-action {
    text-align: center;
    margin: 0 10px;
    padding: 48px 0;
}
.block-call-to-action__title {
    padding: 0 0 0.5em;
    position: relative;
    text-align: center;
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 70px;
        height: 2px;
        left: 50%;
        bottom: 0;
        background-color: $color--text-main;
        margin: 0 0 0 -27px;
    }
}
/************************   CALL TO ACTION end  *************************/

/************************   404 start  *************************/
.block-404 {
    padding: 0 0 48px;
}
.block-404__title {
    text-align: center;
    font-size: 145px;
    line-height: 1em;
    color: $color--text-light;
    display: block;
    margin: 0;
    padding: 0;
}
.block-404__text {
    font-size: 28px;
    line-height: 1.2222em;
    font-weight: 700;
    margin: -10px 0 0;
    text-align: center;
    color: $color--text-light;
}
.block__buttons.block-404__buttons {
    margin: 36px 0 0;
    text-align: center;
}
/************************   404 end  *************************/

/************************   FEED start  *************************/
.block-feed {
    overflow: hidden;
    padding: 27px 0 65px;
}
.block-feed__item {
    margin: 40px 0 0;
    color: $color--text-hover;
    a {
        color: $color--text-hover;
    }
    a:hover {
        color: $color--text-accent;
    }
}
/************************   FEED end  *************************/

/************************   RECENT POSTS start  *************************/
.block-recent-posts {
    padding: 53px 0 61px;
}
.block-recent-posts__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.block-recent-posts__item {
    margin: 5px 0 0;
    padding: 0 0 0 20px;
    color: $color--text-hover;
    position: relative;
    a {
        color: $color--text-hover;
    }
    a:hover {
        color: $color--text-accent;
    }
    &:before {
        content: '—';
        position: absolute;
        display: block;
        width: 15px;
        left: 0;
        top: 0;
    }
}
/************************   RECENT POSTS end  *************************/

/************************   POSTS start  *************************/
.block-post {
    padding: 47px 0 48px;
    p {
        line-height: 1.5em;
        margin: 0 0 1.5em;
    }
    h1 {
        margin: 0 0 1.2917em;
    }
}
.block-post__img {
    display: block;
    max-width: 107%;
    margin: 31px -10px 35px;
}
/************************   POSTS end  *************************/

/************************   MISSION start  *************************/
.block-mission {
    .slider__pages {
        position: absolute;
        bottom: 21px;
        left: 50%;
        min-width: 124px;
        text-align: center;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .block-pages__counter {
        color: $color--text-accent;
    }
}
.block-mission__slider {
    margin: -20px 0 0;
    max-width: 670px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.block-mission__content {
    margin: -20px 10px 20px;
    padding: 20px;
    background-color: $color--bg-main;
    position: relative;
    z-index: 5;
    text-align: left;
}
.block-mission__title {
    font-weight: 400;
}
/************************   MISSION end  *************************/

/************************   TEXT start  *************************/
.block-text {
    letter-spacing: -0.1px;
    padding: 64px 0 70px;
    h4 {
        margin-top: 2.7em;
    }
}
.block-text__buttons {
    margin-top: 30px;
}
/************************   TEXT end  *************************/

/************************   TEAM start  *************************/
.team-item {
    background-color: $color--bg-alter;
    color: $color--text-light;
    padding: 20px 10px;
    p {
        margin: 0.7222em 0 0;
    }
}
.team-item__header {
    margin: 0 0 28px;
}
.team-item__name {
    font-weight: 700;
    font-size: 20px;
}
.team-item__position {
    color: $color--text-accent;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 8px 0 0;
}
.block-team__slider {
    background-color: $color--bg-alter-dark;
}

.block-team__header {
    font-size: 0;
    line-height: 1;
    text-align: right;
}
.block-team__title {
    line-height: 40px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}
.block-team__control {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    margin: 0 0 0 10px;
}
.block-team__pages {
    font-size: 14px;
    line-height: 40px;
    width: 140px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.block-team__button {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    background-color: $color--bg-light;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: $color--bg-accent;
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 9px;
        height: 17px;
        left: 50%;
        top: 50%;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    &:after {
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    &:hover:before {
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    &:hover:after {
        opacity: 1;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    &.block-team__button--prev {
        left: 0;
        &:before {
            @include sprite-sprite(icon-arrow-left-medium-green);
            margin: -7px 0 0 -4px;
        }
        &:after {
            @include sprite-sprite(icon-arrow-left-medium-white);
            margin: -7px 0 0 -4px;
        }
    }
    &.block-team__button--next {
        right: 0;
        &:before {
            @include sprite-sprite(icon-arrow-right-medium-green);
            margin: -7px 0 0 -3px;
        }
        &:after {
            @include sprite-sprite(icon-arrow-right-medium-white);
            margin: -7px 0 0 -3px;
        }
    }
}
/************************   TEAM end  *************************/

/************************   MAP start  *************************/
.block-map__map {
    height: 400px;
    background-color: $color--bg-light;
}
.block-map__content {
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    background: $color--bg-dark url('../images/bg/bg-map.png') center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: $color--text-light;
    z-index: 10;
    margin: -20px 10px;
}
.block-map__item {
    margin: 16px 0 0;
}
/************************   MAP end  *************************/

/************************   TO TOP BUTTON start  *************************/
.to-top-button {
    width: 36px;
    height: 36px;
    position: fixed;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background-color: rgba($color--bg-main, 0.3);
    cursor: pointer;
    //display: none;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 8px;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -7px;
        @include sprite-sprite(icon-arrow-top-dark);
    }
    &:hover {
        background-color: $color--bg-main;
    }
}
.fp-viewing-slide1 {
    .to-top-button {
        display: none;
    }
}
/************************   TO TOP BUTTON end  *************************/

/************************   MUSIC start  *************************/
.block-music {
    position: absolute;
    z-index: 3;
    //display: inline-block;
    display: none;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 0;
    line-height: 1;
    bottom: 30px;
    text-align: right;
}
.block-music__icon {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin: 0 11px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    &.block-music__icon--play {
        background: url('../images/volume-off.png') 0 0 no-repeat;
    }
    &.block-music__icon--stop {
        background: url('../images/volume-on.png') 0 0 no-repeat;
        display: none;
    }
}
.block-music--state-active {
    .block-music__icon--play {
        display: none;
    }
    .block-music__icon--stop {
        display: inline-block;
    }
}
/************************   MUSIC end  *************************/