/************************   PROMO start  *************************/
.block-promo__content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding-right: 10px;
}
.block-promo__title {
    margin-right: -50%;
}
/************************   PROMO end  *************************/

/************************   GALLERY start  *************************/
.block-gallery {
    font-size: 0;
    line-height: 1;
    position: relative;
    text-align: right;
    .slider__pages {
        bottom: 44px;
        left: auto;
        right: 12.5%;
        min-width: 124px;
        -webkit-transform: translate3d(40px, 0, 0) !important;
        -moz-transform: translate3d(40px, 0, 0) !important;
        -ms-transform: translate3d(40px, 0, 0) !important;
        -o-transform: translate3d(40px, 0, 0) !important;
        transform: translate3d(40px, 0, 0) !important;
    }
    .slider__button--type-square {
        top: auto;
        bottom: 75px;
        margin: 0;
        &.slider__button--prev {
            left: auto;
            right: 12.5%;
        }
        &.slider__button--next {
            right: 12.5%;
            margin-right: -40px;
        }
    }
}
.block-gallery__slider {
    display: inline-block;
    vertical-align: middle;
    width: 66.6666%;
    margin: 0 0 0 -8.3333%;
    position: relative;
}
.block-gallery__content {
    width: 41.6666%;
    max-height: 100%;
    margin: 0;
    position: absolute;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 1.6667em;
}

.block-gallery__slider {
    overflow: hidden;
    background-color: $color--bg-dark;
    .slider__inner {
        padding-right: 12.5%;
        z-index: 1;
    }
    .slick-list {
        overflow: inherit !important;
        z-index: 1;
    }
    .slider__img {
        opacity: 0.15;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=15)';
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    .slick-current .slider__img {
        opacity: 1;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}

.slick-dots {
    text-align: left;
    margin: 0 -8px;
}
/************************   GALLERY end  *************************/

/************************   SERVICES start  *************************/
.block-columns {
    font-size: 0;
    line-height: 1;
    position: relative;
}
.block-column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.block-services-list {
    font-size: 16px;
    line-height: 1.6667em;
    margin: 0 0 70px;
    padding: 40px;
}
.block-services-description {
    margin: 0;
    font-size: 16px;
    line-height: 1.6667em;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.block-services-description__title {
    font-size: 24px;
}
.block-services-description__slider {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/************************   SERVICES end  *************************/

/************************   404 start  *************************/
.block-404__title {
    font-size: 248px;
}
.block-404__text {
    font-size: 44px;
    margin: -30px 0 0;
}
/************************   404 end  *************************/

/************************   POSTS start  *************************/
.block-post__img {
    max-width: 133.3333%;
    margin: 31px -16.6666% 35px;
}
/************************   POSTS end  *************************/

/************************   MISSION start  *************************/
.block-mission {
    font-size: 0;
    line-height: 1;
    position: relative;
    text-align: right;
    .slider__pages {
        bottom: 38px;
        left: 12.5%;
        min-width: 124px;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
    .slider__button--type-square {
        top: auto;
        bottom: 54px;
        margin: 0;
        &.slider__button--prev {
            left: auto;
            right: 40px;
        }
        &.slider__button--next {
            right: 0;
        }
    }
}
.block-mission__slider {
    display: inline-block;
    vertical-align: middle;
    width: 66.6666%;
    margin: 0 0 0 -8.3333%;
    position: relative;
}
.block-mission__content {
    width: 41.6666%;
    max-height: 100%;
    margin: 0;
    position: absolute;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 1.6667em;
    padding: 20px 10px 20px 20px;
}
.block-mission__text {
    max-height: 308px;
    overflow: auto;
    padding: 0 10px 0 0;
}
/************************   MISSION end  *************************/

/************************   MAP start  *************************/
.block-map {
    position: relative;
    height: 670px;
}
.block-map__map {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.block-map__content {
    position: absolute;
    width: 350px;
    padding: 30px;
    //width: 400px;
    //padding: 58px 36px 50px 58px;
    top: 60px;
    left: 10px;
    //left: 50%;
    //margin: 0 0 0 -585px;
}
.block-map__item {
    margin: 36px 0 0;
}
/************************   MAP end  *************************/

/************************   TEAM start  *************************/
.team-item {
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    top: 0;
    width: 45%;
}
.team-item__name {
    font-size: 32px;
}
.team-item__position {
    font-size: 20px;
}
/************************   TEAM end  *************************/