/************************   PROMO start  *************************/
.block-promo {
    margin: 0 20px;
}
/************************   PROMO end  *************************/

/************************   GALLERY start  *************************/
.block-gallery {
    .slider__pages {
        bottom: 41px;
    }
}
.block-gallery__slider {
    margin: -20px 0 0;
}
.block-gallery__content {
    margin: -40px 20px 40px;
}
/************************   GALLERY end  *************************/

/************************   SERVICES start  *************************/
.block-services {
    margin: 0 20px;
}
.block-services-list {
    padding: 40px 40px 60px;
}
.block-services-description {
    margin: -40px 20px 0;
    padding: 40px;
}
.block-services-description__title {
    font-size: 32px;
}
/************************   SERVICES end  *************************/

/************************   COUNTER start  *************************/
.block-counter__item {
    width: 33.3333%;
}
/************************   COUNTER end  *************************/

/************************   BENEFITS start  *************************/
.block-benefits {
    margin: 0 20px;
}
/************************   BENEFITS end  *************************/

/************************   CALL TO ACTION start  *************************/
.block-call-to-action {
    margin: 0 20px;
}
/************************   CALL TO ACTION end  *************************/

/************************   404 start  *************************/
.block-404__title {
    font-size: 200px;
}
.block-404__text {
    font-size: 36px;
    margin: -20px 0 0;
}
/************************   404 end  *************************/

/************************   POSTS start  *************************/
.block-post__img {
    max-width: 107%;
    margin: 31px -20px 35px;
}
/************************   POSTS end  *************************/

/************************   MISSION start  *************************/
.block-mission {
    .slider__pages {
        bottom: 41px;
    }
}
.block-mission__slider {
    margin: -20px 0 0;
}
.block-mission__content {
    margin: -40px 20px 40px;
}
/************************   MISSION end  *************************/

/************************   TEAM start  *************************/
.block-team__control {
    margin: 0 0 0 30px;
}

.team-item {
    padding: 40px 20px;
}
/************************   TEAM end  *************************/