/************************   HEADING start  *************************/
.block-heading {
    margin: 20px 0 0;
}
.block-heading__content {
    height: 163px;
}
/************************   HEADING end  *************************/

/************************   PROMO start  *************************/
.block-promo {
    margin: 0 40px;
}
.block-promo__title {
    font-size: 40px;
}
/************************   PROMO start  *************************/

/************************   GALLERY start  *************************/
.block-gallery {
    .slider__pages {
        bottom: 84px;
        -webkit-transform: translate3d(70px, 0, 0) !important;
        -moz-transform: translate3d(70px, 0, 0) !important;
        -ms-transform: translate3d(70px, 0, 0) !important;
        -o-transform: translate3d(70px, 0, 0) !important;
        transform: translate3d(70px, 0, 0) !important;
    }
    .slider__button--type-square {
        top: auto;
        bottom: 115px;
        margin: 0;
        width: 70px;
        height: 70px;
        &.slider__button--prev {
            left: auto;
            right: 12.5%;
        }
        &.slider__button--next {
            right: 12.5%;
            margin-right: -70px;
        }
    }
}
.block-gallery__title {
    line-height: 1.2222em;
}
.block-gallery__content {
    padding: 60px 40px;
    font-size: 18px;
}

.slick-dots {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 31px;
}
/************************   GALLERY end  *************************/

/************************   SERVICES start  *************************/
.block-services {
    margin: 0 40px;
}
.block-services-description__title {
    font-size: 36px;
    margin: 0 0 1.5em;
    padding: 0 0 1em;
}
.block-services-list__slider {
    margin: 30px 18px 0;
}
/************************   SERVICES end  *************************/

/************************   404 start  *************************/
.block-404 {
    margin: -70px 0 0;
}
.block-404__title {
    font-size: 280px;
}
/************************   404 end  *************************/

/************************   BENEFITS start  *************************/
.block-benefits {
    margin: 0 40px;
}
.block-benefits__title {
    margin: 0 0 1.25em;
    padding: 0 0 0.75em;
}
/************************   BENEFITS end  *************************/

/************************   CALL TO ACTION start  *************************/
.block-call-to-action {
    margin: 0 40px;
}
.block-call-to-action__title {
    margin: 0 0 1.25em;
    padding: 0 0 0.75em;
}
/************************   CALL TO ACTION end  *************************/

/************************   MISSION start  *************************/
.block-mission {
    .slider__pages {
        bottom: 66px;
    }
    .slider__button--type-square {
        width: 70px;
        height: 70px;
        &.slider__button--prev {
            right: 70px;
        }
    }
}
.block-mission__title {
    line-height: 1.2222em;
}
.block-mission__content {
    padding: 60px 40px;
    font-size: 18px;
}
/************************   MISSION end  *************************/

/************************   TEAM start  *************************/
.team-item {
    right: 30px;
}
.block-team__title {
    line-height: 70px;
}
.block-team__pages {
    line-height: 70px;
}
.block-team__button {
    width: 70px;
    height: 70px;
}

.team-dots {
    text-align: right;
    bottom: 28px;
    right: 30px;
    margin: 0 -8px;
}
/************************   TEAM end  *************************/

/************************   MUSIC start  *************************/
.block-music {
    display: inline-block;
}
/************************   MUSIC end  *************************/