.pop-up {
    padding: 60px 100px 59px;
}
.pop-up__close {
    top: 15px;
    right: 16px;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}