.pop-up {
	display: none;
	width: 270px;
	padding: 30px 20px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing:  content-box;
	box-sizing:  content-box;
	-webkit-box-shadow: 0 0 40px rgba($color--bg-dark, 0.32);
	-moz-box-shadow: 0 0 40px rgba($color--bg-dark, 0.32);
	box-shadow: 0 0 40px rgba($color--bg-dark, 0.32);
	.block-form {
		padding: 0;
	}
	.form {
		background: none;
		padding: 0;
	}
}
.pop-up__close {
	width: 23px;
	height: 23px;
	cursor: pointer;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	@include sprite-sprite(icon-close-pop);
	-webkit-transform: scale(0.7, 0.7);
	-moz-transform: scale(0.7, 0.7);
	-ms-transform: scale(0.7, 0.7);
	-o-transform: scale(0.7, 0.7);
	transform: scale(0.7, 0.7);
}
.block-success {
	text-align: center;
}
.block-success__title {
	text-align: center;
	color: $color--text-accent;
}


.block-cookie {
	position: fixed;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 100;
	background-color: $color--text-hover;
	color: $color--text-light;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 12px 0 10px;
	min-height: 42px;
	&.block-cookie--state-active {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
.block-cookie__content {
	font-size: 14px;
	line-height: 21px;
}
.block-cookie__buttons {
	margin: 15px -8px 0;
	font-size: 0;
	line-height: 1;
	padding: 5px 0 7px;
	.button {
		margin: 0 8px;
		padding: 0 16px;
		height: 30px;
		line-height: 28px;
		font-size: 14px;
	}
}