.pop-up {
    width: 370px;
    padding: 40px 40px 30px;
}
.pop-up__close {
    top: 10px;
    right: 10px;
}

.block-cookie__content {
    position: relative;
    padding: 0 230px 0 0;
}
.block-cookie__buttons {
    margin: 0;
    padding: 0;
    top: 5px;
    right: -2px;
    width: 246px;
    position: absolute;
    text-align: right;
}